* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Metropolis;
    src: url('/static/fonts/Metropolis-Regular.woff2') format('woff2');
}
body {
    background-position: center;
    background-color: #333333;
    font-family: Metropolis, Arial, sans-serif;
    color: white;
}
a:link,
a:visited,
a:active,
a:hover {
    color: #FF8C00;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    opacity: 0.5;
}
header {
    height: 70vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-image: url('/static/textures/space.jpg');
}
section h1 {
    text-align: center;
    margin-bottom: 20px;
}
section {
    padding: 35px;
    padding-bottom: 10px;
    line-height: 1.5;
}
.read-more-container {
    margin-top: 15px;
    font-size: 0.9rem;
}
.source-link-container {
    margin-top: 20px;
    color: #808080;
    font-size: 0.75rem;
    font-weight: regular;
    text-decoration: none;
    text-align: center;
}
.source-link-container a:link,
.source-link-container a:visited,
.source-link-container a:active,
.source-link-container a:hover {
        color: #808080;
        font-size: 0.75rem;
        font-weight: regular;
        text-decoration: none;
    }
.source-link-container a:hover {
    opacity: 0.5;
}